
<h2>Hello! Please register below:</h2>
<br />

<form action="Welcome" method="post" class="pure-form">
    <fieldset>
        <legend>User Profile:</legend>
        <input type="text" name="FirstName" placeholder="First Name" required class="form-control" pattern="^[a-zA-Z]{2,}$"/> <br /><br />
        <input type="text" name="LastName" placeholder="Last Name" required class="form-control" /> <br /><br />
        <input type="email" name="Email" placeholder="Email" class="form-control" /><br /><br />
        <input type="text" name="PhoneNumber" placeholder="Phone Number" pattern="(?:\d{1}\s)?\(?(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})" class="form-control" /><br /><br />
        <input type="date" name="BirthDate" class="form-control" /><br /><br />
    </fieldset>
    <input type="password" name="password" placeholder="Password" required minlength="8" pattern="(?=.*[0-9])(?=.*[a-z])([a-z0-9]+)" class="form-control" /><br /><br />
    <input type="password" name="password" placeholder="Confirm Password" required minlength="8" pattern="(?=.*[0-9])(?=.*[a-z])([a-z0-9]+)" class="form-control" /><br /><br />
    <input type="radio" name="gender" value="Female" /> Female<br /><br />
    <input type="radio" name="gender" value="Male" /> Male<br /><br />
    <input type="radio" name="gender" value="Non-Binary" /> Non-Binary<br /><br />
    <select name="CoffeeType">
        <option value="Regular">Regular</option>
        <option value="Decaf">Decaf</option>
    </select>
    <br /><br />
    <input type="submit" value="Register" class="btn-toolbar"/>
</form>